body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.footer{
    position: fixed;
    bottom: 0;
    background: linear-gradient(90deg, #1d0131, #776BCC);		
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

 .footer .container{
    flex: 1;
    width: 70%;
    color: white;
  }
  .footer .container .footer-left{
    width: 50%;
  }
  .footer .container .footer-right {
    display: flex;
  }

  .footer .container .footer-right a{
    color: white;
   padding-right: 15px;
   padding-left: 15px;
    border-right: 2px solid rgb(41, 5, 79);
    text-align: center;
  }

  
  @media screen and (max-width: 1650px) {
    .footer .container .footer-right{
        flex-direction: column;
        
    }
    .footer .container .footer-right a{
        margin-top: 10px;
    }
  }