
.todo{
    display: flex;
    justify-content: center;
    
}

.home{
    width: 500px;
    height: 560px;
    background: linear-gradient(90deg, #3fa7ce, #6bcca0);	
    text-align: center;	
    padding-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    
}

.home .container-2{
    height: 470px;
    
}

.home .container-2 .todo-app{
   height: 450px;
   overflow: auto;
}

.home .container-2 .todo-app .input{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 25px;
}
.home .container-2 .todo-app .input input{
    width: 280px;
    height: 45px;
    border-radius:10px ;
    border:none;
    padding-left: 15px;
    font-size: 17px;
    background: linear-gradient(90deg, #a3adab, #a0beb9);
    margin-right: 10px;
    
}
.home .container-2 .todo-app .input button{
    font-size: 18px;
    width: 80px;
    height: 45px;
    color: white;
    background-color: #0e29b5;
    border:none;
    border-radius: 15px;
    
}

.home .container-2 .todo-app .todo-list{
    padding-left:40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
   height: 450px;
    
   
    
}

.home .container-2 .todo-app .todo-list .buttons{
    display: flex;
    justify-content: space-between ;
    background-color: #2957ad;
    margin-bottom: 10px;
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    color: white;
    
}
.home .container-2 .todo-app .todo-list .buttons .edit{
    display: flex;
    border: none;
   
    
}

.home .container-2 .todo-app .todo-list .buttons button{
    height: 25px !important;
    display: flex;
    align-items: center;
    background-color: #2ba940;
    color: white;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 15px;
    
}