.home .container-2 .todo-app .todo-list .buttons{
    display: flex;
}

.home {
    margin-right: 50px;
    
}

.home .container-2 .todo-app .input input{
    padding-right: 25px;
}
.home .container-2 .todo-app .todo-list .buttons p{
    margin-right: 10px;
}
.kapsam{
    display: flex;
    width: 45%;
    text-align: center;
    margin:50px auto;
}
